<!doctype html>
{% load static %}
<html lang="en" xmlns:xlink="">
<head>
	<meta charset="UTF-8">
	<title>{% block xadmin_title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "images/base/siteIco.png" %}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static "css/xadmin.css" %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    {% block css %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <a href="./index.html" class="logo-ico"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-project"></use></svg></a>
            <a href="./index.html" class="logo-name">MAOA</a>
        </div>
        <div class="open-nav">
            <svg class="icon" aria-hidden="true">
                <use href="#icon-caidan"></use>
            </svg>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item nav-item">
            <a href="javascript:;">{{ username }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="">个人信息</a></dd>
              <dd><a href="">切换帐号</a></dd>
              <dd><a href="/logout">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" style="border-top: 1px solid hsla(0,0%,100%,.1);">
                    <a href="{{ xadmin.statistic.url }}" class="reset">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-pointmap"></use>
                        </svg>
                        <span>统计</span>
{#                        <i class="icon_i">#}
{#                            <svg class="icon_s" aria-hidden="true">#}
{#                                <use xlink:href="#icon-tiaozhuan"></use>#}
{#                            </svg>#}
{#                        </i>#}
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <svg class="icon" aria-hidden="true">
                            <use href="#icon-ego-blog"></use>
                        </svg>
                        <span>文章</span>
                        <i class="icon_i">
                            <svg class="icon_s" aria-hidden="true">
                                <use xlink:href="#icon-tiaozhuan"></use>
                            </svg>
                        </i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont icon-homeconstruction"></i>
                                <span>管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ xadmin.publish.url }}" target="_blank">
                                <i class="iconfont icon-createtask_fill"></i>
                                <span>发表</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        系统设置
                        <i class="icon_i">
                            <svg class="icon_s" aria-hidden="true">
                                <use xlink:href="#icon-tiaozhuan"></use>
                            </svg>
                        </i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="./banner-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                轮播列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <svg class="icon">
                            <use xlink:href="#icon-branches"></use>
                        </svg>
                        更新
                        <i class="icon_i">
                            <svg class="icon_s" aria-hidden="true">
                                <use xlink:href="#icon-tiaozhuan"></use>
                            </svg>
                        </i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="./banner-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                轮播列表
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            {% block content %}{% endblock %}
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="{% static "lib/layui/layui.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/xadmin.js" %}"></script>
    <script src="http://at.alicdn.com/t/font_1044938_vmckzwmztdn.js"></script>
    {% block script %}{% endblock %}
    <script>
        {# 初始化菜单列 根据数字找到第N个li,调用函数need...li 给li添加open current,以及对应a标签项显示背景色 #}
        $(document).ready(function () {
            console.log("初始化菜单");
            let _need_open_list = $("li.list").eq({{ parent_id }});
            need_open_li(_need_open_list, {{ current_id }});
        })
    </script>
</body>
</html>