{% load static %}
<title>{{ title }}</title>
<link href="{% static "css/jquery.fancybox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "images/design/favicon.png" %}?v=5.1.3">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "images/design/favicon.png" %}?v=5.1.3">
<link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
{% block link %}{% endblock %}

