{% load static %}
<title>{{ title }}</title>
<link rel="stylesheet" href="">
<link href="{% static "css/jquery.fancybox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "images/design/apple-touch-icon-144-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "images/design/apple-touch-icon-114-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "images/design/apple-touch-icon-72-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" href="{% static "images/design/apple-touch-icon-57-precomposed.png" %}">
{% block link %}{% endblock %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
