<footer id="footer" class="footer">
    <div class="footer-inner">
        <div class="copyright">© 2017 - <span itemprop="copyrightYear">2018</span>
            <span class="with-love">
                <i class="fa icon-king"></i>
            </span>
            <span class="author" itemprop="copyrightHolder">{{ primary.author }}</span>
        </div>
        <div class="theme-info">浙ICP备17046137号-1</div>
    </div>
</footer>
<div class="back-to-top">
    <i class="iconfont icon-shang"></i>
</div>