<div class="headband"></div>
<header id="header" class="header" itemscope="" itemtype="">
    <div class="header-inner">
        <div class="site-brand-wrapper">
            <div class="site-meta ">
                <div class="custom-logo-site-title">
                    <a href="{{ primary.project_path }}" class="brand" rel="start" style="opacity: 1;">
                        <span class="logo-line-before"><i></i></span>
                        <span class="site-title" style="opacity: 1; top: 0;">MAOA-L</span>
                        <span class="logo-line-after"><i></i></span>
                    </a>
                </div>
                <p class="site-subtitle" style="opacity: 1; top: 0;">{{ subtitle_time }}这是我的座右铭</p>
            </div>
            <div class="site-nav-toggle">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>
        </div>
        <!-- 适应小屏幕 -->
        <nav class="site-nav site-nav-off" >
            <ul id="menu" class="menu">
                <li class="menu-item menu-item-home {{ home.active }}"
                    style="opacity: 1; transform: translateY(0px);">
                    <a href="{{ home.url }}" rel="section">
                        <i class="iconfont icon-51"></i> <br>首页</a>
                </li>
                <li class="menu-item menu-item-archives {{ archive.active }}" style="opacity: 1; transform: translateY(0px);">
                    <a href="{{ archive.url }}" rel="section">
                        <i class="iconfont icon-guidang"></i> <br>归档</a>
                </li>
                <li class="menu-item menu-item-categories" style="opacity: 1; transform: translateY(0px);">
                    <a href="{{ categories }}" rel="section">
                        <i class="iconfont icon-fenlei"></i> <br>分类</a>
                </li>
                <li class="menu-item menu-item-tags" style="opacity: 1; transform: translateY(0px);">
                    <a href="{{ tags }}" rel="section">
                        <i class="iconfont icon-biaoqian"></i> <br>标签</a>
                </li>
                <li class="menu-item menu-item-about" style="opacity: 1; transform: translateY(0px);">
                    <a href="{{ about }}" rel="section">
                        <i class="iconfont icon-guanyu"></i> <br>关于</a>
                </li>
                <li class="menu-item menu-item-about {{ version.active }}" style="opacity: 1; transform: translateY(0px);">
                    <a href="{{ version.url }}" rel="section">
                        <i class="iconfont icon-banbengengxin"></i> <br>版本</a>
                </li>
                <li class="menu-item menu-item-search" style="opacity: 1; transform: translateY(0px);">
                    <a href="javascript:;" class="popup-trigger">
                        <i class="iconfont icon-RectangleCopy"></i> <br>搜索</a>
                </li>
            </ul>
            <div class="site-search">
                <div class="algolia-popup popup search-popup">
                    <div class="algolia-search">
                        <div class="algolia-search-input-icon">
                            <i class="fa icon-search"></i>
                        </div>
                        <div class="algolia-search-input" id="algolia-search-input">
                            <div class="ais-search-box">
                                <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search for Posts"
                                       role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input">
                            </div>
                        </div>
                    </div>
                    <div class="algolia-results">
                        <div id="algolia-stats"></div>
                        <div id="algolia-hits"></div>
                        <div id="algolia-pagination" class="algolia-pagination"></div>
                    </div>
                    <span class="popup-btn-close">
                        <i class="fa icon-remove"></i>
                    </span>
                </div>
            </div>
        </nav>
    </div>
</header>
<script>
    $(document).ready(function(){
        var nav = $('.site-nav');
        $('.site-nav-toggle button').click(function(){
            if (nav.hasClass('site-nav-off')){
                nav.removeClass('site-nav-off');
                nav.addClass('site-nav-on');
            }else{
                nav.removeClass('site-nav-on');
                nav.addClass('site-nav-off');
            }
        });
        $('a.popup-trigger').click(function(){
           $('div.site-search>div').css('display', 'block');
           $('body').append('<div class="search-popup-overlay algolia-pop-overlay"></div>');
        });
        $('div.site-search>div>span>i').click(function () {
           $('div.site-search div').css('display', 'none');
           $('div.search-popup-overlay').remove();
        })
    })
</script>