<aside id="sidebar" class="sidebar" style="margin-top: 400px; margin-left: initial;">
    <div class="sidebar-inner affix-top" style="opacity: 1; display: block; transform: initial;">
        <ul class="sidebar-nav motion-element">
            <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">
                文章目录
            </li>
            <li class="sidebar-nav-overview" data-target="site-overview-wrap">
                站点概览
            </li>
        </ul>
        <!--noindex-->
        <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
            <div class="post-toc" style="max-height: 773px; width: calc(100% + 17px);">
                <div class="post-toc-content">
                    <ol class="nav">
                        <li class="nav-item nav-level-2"><a class="nav-link"
                                                            href="https://www.xncoding.com/2018/04/05/java/reactor.html#%E5%9B%BE%E8%A7%A3Reactor%E6%A8%A1%E5%BC%8F"><span
                                class="nav-number">1.</span> <span class="nav-text">图解Reactor模式</span></a>
                            <ol class="nav-child">
                                <li class="nav-item nav-level-3"><a class="nav-link"
                                                                    href="https://www.xncoding.com/2018/04/05/java/reactor.html#%E4%BC%A0%E7%BB%9F%E7%9A%84%E5%A4%9A%E7%BA%BF%E7%A8%8B%E6%96%B9%E5%BC%8F"><span
                                        class="nav-number">1.1.</span> <span
                                        class="nav-text">传统的多线程方式</span></a></li>
                                <li class="nav-item nav-level-3"><a class="nav-link"
                                                                    href="https://www.xncoding.com/2018/04/05/java/reactor.html#Reactor%E6%96%B9%E5%BC%8F"><span
                                        class="nav-number">1.2.</span> <span
                                        class="nav-text">Reactor方式</span></a></li>
                            </ol>
                        </li>
                        <li class="nav-item nav-level-2"><a class="nav-link"
                                                            href="https://www.xncoding.com/2018/04/05/java/reactor.html#Java%E4%B8%AD%E5%AE%9E%E7%8E%B0Reactor%E6%A8%A1%E5%BC%8F"><span
                                class="nav-number">2.</span> <span class="nav-text">Java中实现Reactor模式</span></a>
                            <ol class="nav-child">
                                <li class="nav-item nav-level-3"><a class="nav-link"
                                                                    href="https://www.xncoding.com/2018/04/05/java/reactor.html#%E7%BB%8F%E5%85%B8%E6%A8%A1%E5%BC%8F"><span
                                        class="nav-number">2.1.</span> <span
                                        class="nav-text">经典模式</span></a></li>
                                <li class="nav-item nav-level-3"><a class="nav-link"
                                                                    href="https://www.xncoding.com/2018/04/05/java/reactor.html#%E5%A4%9A%E5%B7%A5%E4%BD%9C%E7%BA%BF%E7%A8%8B%E6%A8%A1%E5%BC%8F"><span
                                        class="nav-number">2.2.</span> <span class="nav-text">多工作线程模式</span></a>
                                </li>
                                <li class="nav-item nav-level-3"><a class="nav-link"
                                                                    href="https://www.xncoding.com/2018/04/05/java/reactor.html#%E5%A4%9AReactor%E6%A8%A1%E5%BC%8F"><span
                                        class="nav-number">2.3.</span> <span
                                        class="nav-text">多Reactor模式</span></a></li>
                            </ol>
                        </li>
                    </ol>
                </div>


            </div>
        </section>
        <!--/noindex-->

    </div>
</aside>