{% load static %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/index.js" %}"></script>
{#小屏幕时的动画加载#}
<script type="text/javascript" src="{% static "js/fastclick.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.lazyload.js" %}"></script>
<script type="text/javascript" src="{% static "js/velocity.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/velocity.ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.fancybox.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/motion.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
<script>
'use strict';
{#  每n毫秒 增加一次  #}
NProgress.configure({ trickleSpeed: 200 });
{#  每次增加的值  #}
NProgress.inc(1.0);
$(document).ready(function(){
　　  let timer_one = setTimeout(function () {
      NProgress.set(0.7);
      let timer_two = setTimeout(function () {
          clearTimeout(timer_one);
          NProgress.set(1.0);
          clearTimeout(timer_two)
      },300)
  },300)
　　});

$(document).ready(function(){//在文档加载完毕后执行
    $(window).scroll(function(){//开始监听滚动条
                //获取当前滚动条高度
        var topp = $(document).scrollTop();
        var d = $('.back-to-top');
        if(topp > 100){
            d.addClass('back-to-top-on');
        }else if(topp <= 100){
            d.removeClass('back-to-top-on');
        }
    });
    $('.back-to-top').click(function () {
       $('html, body, .content').animate({scrollTop: 0}, 300);
    });
    let nav = $('.site-nav');
    $('.site-nav-toggle').click(function(){
        console.log("??")
        if (nav.hasClass('site-nav-off')){
            nav.removeClass('site-nav-off');
            nav.addClass('site-nav-on');
        }else{
            nav.removeClass('site-nav-on');
            nav.addClass('site-nav-off');
        }
    });
    {#$('a.popup-trigger').click(function(){#}
    {#   $('div.site-search>div').css('display', 'block');#}
    {#   $('body').append('<div class="search-popup-overlay algolia-pop-overlay"></div>');#}
    {# });#}
    {#$('div.site-search>div>span>i').click(function () {#}
    {#   $('div.site-search div').css('display', 'none');#}
    {#   $('div.search-popup-overlay').remove();#}
    {# });#}

})
</script>
{% block customJs %}{% endblock %}