<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'base/css.html' %}
    <link rel="stylesheet" href="{% static "css/github.css" %}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#222">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="description" content="写点啥">
    <script type="text/javascript">
        var NexT = window.NexT || {};
        var CONFIG = {
            root: '/',
            scheme: 'Pisces',
            {#version: '5.1.3',#}
            sidebar: {
                "position": "left",
                "display": "post",
                "offset": 12,
                "b2t": false,
                "scrollpercent": false,
                "onmobile": false
            },
            {#fancybox: true,#}
            {#tabs: true,#}
            motion: {
                "enable": true,
                "async": false,
                "transition": {
                    "post_block": "fadeIn",
                    "post_header": "slideDownIn",
                    "post_body": "slideDownIn",
                    "coll_header": "slideLeftIn",
                    "sidebar": "slideUpIn"
                }
            },
        };
    </script>
</head>
<body>
<div class="container sidebar-position-left page-post-detail">
    {% include "base/navigation.html" %}
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <div id="posts" class="posts-expand">
                        <article class="post post-type-normal" itemscope="" itemtype="http://www.cyanzoy.top">
                            <div class="post-block" style="opacity: 1; display: block;">

                                <span hidden="" itemprop="author" itemscope="" itemtype="http://www.cyanzoy.top">
                                  <meta itemprop="name" content="熊能">
                                  <meta itemprop="description" content="">
                                  <meta itemprop="image" content="/uploads/avatar.png">
                                </span>

                                <span hidden="" itemprop="publisher" itemscope=""
                                      itemtype="http://schema.org/Organization">
                                  <meta itemprop="name" content="">
                                </span>
                                <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
                                    <h1 class="post-title" itemprop="name headline">聊聊Reactor I/O模型</h1>
                                    <div class="post-meta">
                                        <span class="post-time">
                                              <span class="post-meta-item-icon">
                                                <i class="fa fa-calendar-o"></i>
                                              </span>
                                                <span class="post-meta-item-text">发表于</span>
                                              <time title="创建于" itemprop="dateCreated datePublished" datetime="2018-04-05T09:23:12+08:00">
                                                2018-04-05
                                              </time>
                                          </span>
                                        <span class="post-category">
                                          <span class="post-meta-divider">|</span>

                                          <span class="post-meta-item-icon">
                                            <i class="fa fa-folder-o"></i>
                                          </span>

                                            <span class="post-meta-item-text">分类于</span>


                                            <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                                              <a href="https://www.xncoding.com/categories/java/" itemprop="url" rel="index">
                                                <span itemprop="name">java</span>
                                              </a>
                                            </span>

                                        </span>
                                        <span class="post-comments-count">
                                            <span class="post-meta-divider">|</span>
                                            <span class="post-meta-item-icon">
                                              <i class="fa fa-comment-o"></i>
                                            </span>
                                            <a href="https://www.xncoding.com/2018/04/05/java/reactor.html#comments" itemprop="discussionUrl">
                                              <span class="post-comments-count gitment-comments-count" data-xid="/2018/04/05/java/reactor.html"
                                                    itemprop="commentsCount">0</span>
                                            </a>
                                          </span>
                                        <span id="/2018/04/05/java/reactor.html" class="leancloud_visitors" data-flag-title="聊聊Reactor I/O模型">
                                       <span class="post-meta-divider">|</span>
                                       <span class="post-meta-item-icon">
                                         <i class="fa fa-eye"></i>
                                       </span>

                                         <span class="post-meta-item-text">阅读次数:</span>

                                         <span class="leancloud-visitors-count">1873</span>
                                     </span>
                                    </div>
                                </header>

                                <div class="post-body" itemprop="articleBody"
                                     style="opacity: 1; display: block; transform: translateY(0px);">
                                    {% include 'base/test.html' %}
                                </div>

                                <footer class="post-footer">
                                    <div class="post-tags">
                                        <a href="https://www.xncoding.com/tags/java/" rel="tag"># java</a>
                                    </div>
                                    <div class="post-nav">
                                        <div class="post-nav-next post-nav-item">
                                            <a href="" rel="next" title="">
                                                <i class="fa fa-chevron-left"></i> <!-- 这里为上一篇 -->
                                            </a>
                                        </div>
                                        <span class="post-nav-divider"></span>
                                        <div class="post-nav-prev post-nav-item">
                                            <a href="" rel="prev" title="">
                                                <!-- 这里为下一篇 --> <i class="fa fa-chevron-right"></i>
                                            </a>

                                        </div>
                                    </div>


                                </footer>
                            </div>


                        </article>


                        <div class="post-spread">
                        </div>
                    </div>
                </div>
{#            {% include 'base/comment.html' %}#}
            </div>

{#            <div class="sidebar-toggle">#}
{#                <div class="sidebar-toggle-line-wrap">#}
{#                    <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>#}
{#                    <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>#}
{#                    <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>#}
{#                </div>#}
{#            </div>#}
        {% include 'base/noindex.html' %}
        </div>
    </main>

    {% include "base/footer.html" %}
</div>


<script type="text/javascript">
    if (Object.prototype.toString.call(window.Promise) !== '[object Function]') {
        window.Promise = null;
    }
</script>

{% include "base/script.html" %}

</body>
</html>