<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static_xadmin/css/editormd.css">
    <style>
        .editormd-preview-theme-dark pre .pln {
            color: #d8caca;
        }
        .editormd-preview-theme-dark .com {
            color: #d48080;
        }
        .editormd-preview-theme-dark{
            background: none;width: auto
        }
    </style>
</head>
<body>

        <h1 id="h1-u6797u653Fu6CBBu662Fu50BBu903C"><a name="林政治是傻逼" class="reference-link"></a><span
            class="header-link octicon octicon-link"></span>林政治是傻逼</h1>
    <div class="editormd-preview-theme-dark markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
        <pre class="editormd-preview-theme-dark prettyprint linenums prettyprinted" style="background: black"><ol class="linenums"><li class="L0"><code
                class="lang-python"><span class="pln">urlpatterns </span><span class="pun">=</span><span
                class="pln"> </span><span class="pun">[</span></code></li><li class="L1"><code class="lang-python"><span
                class="pln">    path</span><span class="pun">(</span><span class="str">''</span><span
                class="pun">,</span><span class="pln"> include</span><span class="pun">(</span><span class="pln">app_diary_urls</span><span
                class="pun">)),</span></code></li><li class="L2"><code class="lang-python"><span class="pln">    </span><span
                class="com"># path('upload', include(app_upload_urls)),</span></code></li><li class="L3"><code
                class="lang-python"><span class="pln">    path</span><span class="pun">(</span><span class="str">'admin/'</span><span
                class="pun">,</span><span class="pln"> admin</span><span class="pun">.</span><span
                class="pln">site</span><span class="pun">.</span><span class="pln">urls</span><span
                class="pun">),</span></code></li><li class="L4"><code class="lang-python"><span
                class="pln">    path</span><span class="pun">(</span><span class="str">'xadmin/'</span><span
                class="pun">,</span><span class="pln"> include</span><span class="pun">(</span><span class="pln">app_admin_urls</span><span
                class="pun">)),</span></code></li><li class="L5"><code class="lang-python"><span
                class="pln">    url</span><span class="pun">(</span><span class="pln">r</span><span class="str">'^media/(?P&lt;path&gt;.*)$'</span><span
                class="pun">,</span><span class="pln"> serve</span><span class="pun">,</span><span
                class="pln"> </span><span class="pun">{</span><span class="str">'document_root'</span><span class="pun">:</span><span
                class="pln"> MEDIA_ROOT</span><span class="pun">}),</span></code></li><li class="L6"><code
                class="lang-python"><span class="pun">]</span></code></li></ol></pre>
    </div>
</body>
</html>